<a href="https://colab.research.google.com/github/sebastienhamel/this_is_me_teaching_again/blob/main/Arsh_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/data_curriculum/data_bootcamp_rebranded/Week 7 /breast_cancer_clinical_final.csv")

In [4]:
df.isnull().sum()

patient_id                 0
age_at_diagnosis           0
tumor_stage                0
overall_survival_months    0
death_from_cancer          0
brca1                      0
tp53                       0
erbb2                      0
egfr                       0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1903 entries, 0 to 1902
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   patient_id               1903 non-null   int64
 1   age_at_diagnosis         1903 non-null   float64
 2   tumor_stage              1903 non-null   object
 3   overall_survival_months  1903 non-null   float64
 4   death_from_cancer        1903 non-null   object
 5   brca1                    1903 non-null   float64
 6   tp53                     1903 non-null   float64
 7   erbb2                    1903 non-null   float64
 8   egfr                     1903 non-null   float64
dtypes: float64(6), int64(1), object(2)
memory usage: 133.9+ KB

In [6]:
df.groupby('tumor_stage').count()

,patient_id,age_at_diagnosis,overall_survival_months,death_from_cancer,brca1,tp53,erbb2,egfr
tumor_stage,,,,,,,,
Stage 0,4,4,4,4,4,4,4,4
Stage I,474,474,474,474,474,474,474,474
Stage II,800,800,800,800,800,800,800,800
Stage III,115,115,115,115,115,115,115,115
Stage IV,9,9,9,9,9,9,9,9
Unknown,501,501,501,501,501,501,501,501

In [16]:
df.head(100)

,patient_id,age_at_diagnosis,tumor_stage,overall_survival_months,death_from_cancer,brca1,tp53,erbb2,egfr
0,0,75.65,Stage II,140.500000,Living,-1.3990,0.3504,-1.0548,2.0696
1,2,43.19,Stage I,84.633333,Living,-1.3800,-0.0136,-0.7633,-0.3609
2,5,48.87,Stage II,163.700000,Died of Disease,0.0670,0.5141,-0.7661,-0.0991
3,6,47.68,Stage II,164.933333,Living,0.6744,1.6708,-0.3172,-0.7250
4,8,76.97,Stage II,41.366667,Died of Disease,1.2932,0.3484,-0.5962,-0.5042
...,...,...,...,...,...,...,...,...,...
95,180,51.69,Stage I,62.333333,Living,0.1591,0.6747,-0.2440,-0.8313
96,181,68.45,Stage II,85.966667,Living,-0.8184,0.4817,-1.0217,0.0906
97,184,68.41,Stage II,109.033333,Living,-0.8774,-0.5285,-1.4389,-0.9102
98,188,82.65,Stage II,31.300000,Died of Disease,0.2480,-0.6923,-0.3922,-0.7214
99,189,57.79,Stage IV,9.066667,Died of Disease,-0.6186,-0.8180,-0.1333,0.2813

In [20]:
df.groupby('tumor_stage').count()

,patient_id,age_at_diagnosis,overall_survival_months,death_from_cancer,brca1,tp53,erbb2,egfr
tumor_stage,,,,,,,,
Stage 0,4,4,4,4,4,4,4,4
Stage I,474,474,474,474,474,474,474,474
Stage II,800,800,800,800,800,800,800,800
Stage III,115,115,115,115,115,115,115,115
Stage IV,9,9,9,9,9,9,9,9
Unknown,501,501,501,501,501,501,501,501